# Подготовка данных к обучению на нейронной сети

## Импорт библиотек

In [12]:
import pandas as pd
import numpy as np

## Открытие данных

In [13]:
df = pd.read_csv('../clean_categorizated_data_without_outliers_with_coordinates_and_amenities.csv', sep=';')

In [14]:
df.sample(3)

,number of rooms,area of apartment,number of floors,apartment floor,price,year of construction,elevator,full address,concierge,garbage chute,...,parking_открытая во дворе,parking_наземная многоуровневая,parking_подземная,lat,lon,edu,health,culture,eat,distance
581,3,158.0,10,8,12500000.0,2008,1.0,"Пермский край, Пермь, проезд Якуба Коласа, 11",1,0,...,0.0,0.0,0.0,58.008002,56.202822,43.0,37.0,11.0,363.0,1592.21
1752,3,97.7,4,3,5000000.0,1957,1.0,"Пермь, улица Космонавта Леонова, 23",0,0,...,0.0,0.0,0.0,57.972691,56.170533,14.0,23.0,6.0,137.0,5450.21
972,3,78.5,25,24,5700000.0,2019,1.0,"Пермский край, Пермь, ул. Красные Казармы, 64",0,0,...,0.0,0.0,0.0,57.990951,56.270052,61.0,37.0,9.0,371.0,3230.31

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767 entries, 0 to 1766
Data columns (total 43 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   number of rooms                  1767 non-null   int64
 1   area of apartment                1767 non-null   float64
 2   number of floors                 1767 non-null   int64
 3   apartment floor                  1767 non-null   int64
 4   price                            1767 non-null   float64
 5   year of construction             1767 non-null   int64
 6   elevator                         1767 non-null   float64
 7   full address                     1767 non-null   object
 8   concierge                        1767 non-null   int64
 9   garbage chute                    1767 non-null   int64
 10  repair_дизайнерский              1767 non-null   float64
 11  repair_евро                      1767 non-null   float64
 12  repair_косметический             1767 non-null   float64
 13  repair_требует ремонта           1767 non-null   float64
 14  bathroom_несколько               1767 non-null   float64
 15  bathroom_раздельный              1767 non-null   float64
 16  bathroom_совмещенный             1767 non-null   float64
 17  terrace_балкон                   1767 non-null   float64
 18  terrace_лоджия                   1767 non-null   float64
 19  terrace_нет                      1767 non-null   float64
 20  type of house_блочный            1767 non-null   float64
 21  type of house_деревянный         1767 non-null   float64
 22  type of house_кирпичный          1767 non-null   float64
 23  type of house_монолитный         1767 non-null   float64
 24  type of house_панельный          1767 non-null   float64
 25  district_Дзержинский             1767 non-null   float64
 26  district_Индустриальный          1767 non-null   float64
 27  district_Кировский               1767 non-null   float64
 28  district_Ленинский               1767 non-null   float64
 29  district_Мотовилихинский         1767 non-null   float64
 30  district_Орджоникидзевский       1767 non-null   float64
 31  district_Свердловский            1767 non-null   float64
 32  parking_за шлагбаумом во дворе   1767 non-null   float64
 33  parking_открытая во дворе        1767 non-null   float64
 34  parking_наземная многоуровневая  1767 non-null   float64
 35  parking_подземная                1767 non-null   float64
 36  lat                              1767 non-null   float64
 37  lon                              1767 non-null   float64
 38  edu                              1767 non-null   float64
 39  health                           1767 non-null   float64
 40  culture                          1767 non-null   float64
 41  eat                              1767 non-null   float64
 42  distance                         1767 non-null   float64
dtypes: float64(36), int64(6), object(1)
memory usage: 593.7+ KB

## Удаление из данных полного адреса

In [16]:
df = df.drop('full address', axis=1)

## Приведение типов к float32

In [17]:
df = df.astype(np.float32)

## Удаление признака парковки

In [18]:
df = df.drop(['parking_за шлагбаумом во дворе', 'parking_открытая во дворе', 
              'parking_наземная многоуровневая', 'parking_подземная'], axis=1)

## Итоги подготовки данных

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767 entries, 0 to 1766
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   number of rooms             1767 non-null   float32
 1   area of apartment           1767 non-null   float32
 2   number of floors            1767 non-null   float32
 3   apartment floor             1767 non-null   float32
 4   price                       1767 non-null   float32
 5   year of construction        1767 non-null   float32
 6   elevator                    1767 non-null   float32
 7   concierge                   1767 non-null   float32
 8   garbage chute               1767 non-null   float32
 9   repair_дизайнерский         1767 non-null   float32
 10  repair_евро                 1767 non-null   float32
 11  repair_косметический        1767 non-null   float32
 12  repair_требует ремонта      1767 non-null   float32
 13  bathroom_несколько          1767 non-null   float32
 14  bathroom_раздельный         1767 non-null   float32
 15  bathroom_совмещенный        1767 non-null   float32
 16  terrace_балкон              1767 non-null   float32
 17  terrace_лоджия              1767 non-null   float32
 18  terrace_нет                 1767 non-null   float32
 19  type of house_блочный       1767 non-null   float32
 20  type of house_деревянный    1767 non-null   float32
 21  type of house_кирпичный     1767 non-null   float32
 22  type of house_монолитный    1767 non-null   float32
 23  type of house_панельный     1767 non-null   float32
 24  district_Дзержинский        1767 non-null   float32
 25  district_Индустриальный     1767 non-null   float32
 26  district_Кировский          1767 non-null   float32
 27  district_Ленинский          1767 non-null   float32
 28  district_Мотовилихинский    1767 non-null   float32
 29  district_Орджоникидзевский  1767 non-null   float32
 30  district_Свердловский       1767 non-null   float32
 31  lat                         1767 non-null   float32
 32  lon                         1767 non-null   float32
 33  edu                         1767 non-null   float32
 34  health                      1767 non-null   float32
 35  culture                     1767 non-null   float32
 36  eat                         1767 non-null   float32
 37  distance                    1767 non-null   float32
dtypes: float32(38)
memory usage: 262.4 KB

In [20]:
df.sample(3)

,number of rooms,area of apartment,number of floors,apartment floor,price,year of construction,elevator,concierge,garbage chute,repair_дизайнерский,...,district_Мотовилихинский,district_Орджоникидзевский,district_Свердловский,lat,lon,edu,health,culture,eat,distance
60,2.0,47.000000,5.0,3.0,2150000.0,1965.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,58.114609,56.302032,3.0,6.0,2.0,11.0,12346.870117
67,2.0,44.400002,5.0,1.0,2650000.0,1970.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,57.965115,56.175117,11.0,20.0,4.0,104.0,5974.229980
385,3.0,88.000000,15.0,3.0,5999000.0,1995.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,57.977985,56.170315,16.0,26.0,7.0,162.0,5019.270020

In [21]:
df.to_csv('../final_data.csv', sep=';', index=False)

__В ходе шестой обработки были:__
1. отброшены не числовый признаки
2. все числовые признаки были приведены к типу float
После испытаний были:
1. удалены признаки парковки